body {
    font-family: 'Poppins', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f4f8;
}

.login-container {
    background: #334155;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    color: #f8fafc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 83%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #94a3b8;
    border-radius: 8px;
    background-color: #e2e8f0;
    color: #1e293b;
    font-size: 14px;
}

input:focus {
    border-color: #3b82f6;
    outline: none;
    background-color: #f8fafc;
}

button {
    width: 90%;
    padding: 12px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #2563eb;
    transform: scale(1.05);
}
